# Ignorar archivos binarios
*.o
*.ko
*.mod.c
*.cmd
*symvers
*order
*.mod
*.a

# Ignorar carpetas de compilación
/arch/x86/boot/compressed/vmlinux.bin
/build/
/initramfs*

# Archivos temporales
*.tmp
*.log
